@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap');

/* 
  ====================
    CSS INDEX
  ====================

    -- Global styling
    -- Flyo Component
    -- Media Query
    -- Custom Framework

*/

/* Start Global styling */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: hsl(229, 57%, 11%);
  background-image: url('../images/bg-desktop.png');
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: 100%  52%;
  font-family: 'Raleway', sans-serif;
}

a {
  color: #fff;
}
/* End Global styling */


/* Start Flyo component */

.cards {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-end;
}

.card__left {
  width: 300px;
  padding: 2rem;
  border-radius: 10px 100px 10px 10px;
  background-color: hsl(228, 56%, 26%);
}

.card__left .logo {
  width: 120px;
}

.document-item {
  list-style: none;
  display: flex;
  align-items: center;
  margin-top: 1.5rem;
}

.document-item li a {
  display: flex;
  height: 40px;
  width: 40px;
  border-radius: 10px;
  background: #ccc;
  margin-right: 1rem;
  align-items: center;
  justify-content: center;
  background:hsl(229, 57%, 11% );
  transition: .3s;
}

.document-item li a:hover {
  background-color: rgb(37, 55, 139);
}

.card__right {
  position: relative;
  width: 500px;
  margin-left: 2rem;
  background-color: hsl(228, 56%, 26%);
  padding: 2rem;
  border-radius: 10px;
  color: #fff;
}

.card__right p, span {
  font-size: .8rem;
}
.progress {
  position: relative;
  height: 15px;
  width: 100%;
  margin-top: 1rem;
  background-color: hsl(229, 57%, 11%);
  border-radius: 30px;
}

.progress__bar {
position: absolute;
left: 0;
height: 15px;
width: 3%;
border-radius: 30px;
background-image: linear-gradient(145deg, hsl(6, 100%, 80%), hsl(335, 100%, 65%));
transition: 1s;
}

.progress__bar.active {
  width: 70%;
}

.progress__bar::after {
  position: absolute;
  right: 0;
  content: '';
  height: 15px;
  width: 15px;
  border-radius: 50%;
  background-color: #fff;
}
.progress__info {
  margin-top: 5px;
  clear: both;
}

.progress__info span:nth-child(2) {
  float: right;
}


.quota {
  position: absolute;
  top: -40px;
  right: 35px;

  height: 60px;
  width: 150px;
  display: flex;
  align-items: center;
  padding: 0.6rem 1rem;
  border-radius: 10px;
  background-color: hsl(243, 100%, 93%);
  color: black;
}

.quota::after {
  position: absolute;
  bottom: -20px;
  right: 0;

  content: '';
  width: 0;
  height: 0;
  border-top: 40px solid hsl(243, 100%, 93%);
  border-left: 40px solid transparent;
}

.quota span {
  text-transform: uppercase;
  font-weight: 700;
  font-size: .7rem;
  color: hsl(229, 7%, 55%);
  letter-spacing: 1px;
  margin-left: .5rem;
}

/* End Flyo component */

/* Start Media Query */

@media (max-width: 880px) {

  body {
    background-image: url('../images/bg-mobile.png');
    background-position: center;
    background-size: cover;
  }

  .cards {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .card__left {
    width: 100%;
    margin-bottom: 1rem;
  }

  .card__right {
    margin-left:0 ;
  }

  .quota {
    top:105px;

    left: 0;
    right: 0;
    margin: 0 auto;
  }

  .quota::after {
    display: none;
  }

}


@media (max-width: 420px) {

  .cards {
    margin: 0rem 2rem;
  }
  .card__left {

    width: 100%;
  }

  .card__right {
    width: 100%;
  }

}
/* End Media Query */

/*  Start Custom Farmework */

.container {
  min-height: 100vh;
  max-height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: auto;
  padding: 0px 15px;
}

@media (min-width: 420px) {
  
  .container {
    width: 390px;
  }
}

@media (min-width: 768px) {

  .container {
  width: 750px;
  }
}


@media (min-width: 992px) {

  .container {
  width: 960px;
  }
}


@media (min-width: 1200) {

  .container {
  width: 1140px;
  }
}
/*  End Custom Farmework */
.attribution {
  position: absolute;
  bottom: 30px;
  left: 0;
  right: 0;

  margin: 0 auto;
  font-size: 14px;
  text-align: center; 
  }
.attribution a { color: #fff; }